/* у header должен быть розовый бэкграунд (#FD739C) и белый цвет текста, */
header, nav {
    background-color: #FD739C;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
/* заголовки h1 и h2 должны быть с шрифтами без засечек (например, Arial или Helvetica), */
h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
}

/* размер основного шрифта должен стать в 22 пикселя с высотой строки в 34. */

body{
    font-size: 22px;
    line-height: 34px
}