/* Header */

@media screen and (max-width: 767px) {

    .header-logo {
      transform: scale(1.6);
      margin-left: 30px;
    }

    .header .asap {
        display: none;
    }

    .buttons__sign-in {
      transform: scale(1.4);
      margin-right: 25px;
      font-size: 11px;
    }

    .buttons__register {
      margin: 20px;
        margin-right: 0;
        transform: scale(1.4);
        font-size: 11px;
    }
    .basket {
        display: none;
    }
}


/* Search */

@media screen and (max-width: 767px) {
    .search__input {
        margin-bottom: 24px;
    }
}


/* Restaurant */

@media screen and (max-width: 500px) {
    .restaurant_mobile {
        margin-bottom: 100px;
        background: url("../../img/assortment/photo full.svg") no-repeat 50% 0;
        background-size: cover;
        height: 256px;
    }
    .restaurant__container {
        padding-top: 100px;
    }
    .restaurant__card {
        width: 100%;
        margin-top: 200px;
        margin: 0 8px;
    }
    .restaurant__name {
        font-size: 33px;
        display: inline;
        margin-left: 50px;
    }
    .restaurant__info {
        margin-top: 40px;
        flex-direction: column;
    }
    .restaurant__sale {
        margin-bottom: 16px;
        font-size: 20px;
    }
    .restaurant__time {
        font-size: 20px;
    }
}


/* Categories */

@media screen and (max-width: 683px) {
    .categories {
        display: none;
    }
}


/* Main */

@media screen and (max-width: 520px) {
    .main__snacks_title {
        margin-left: 180px;
        font-size: 28px;
        margin-bottom: 56px;
    }
    .main__snack-text {
        margin-top: 88px;
    }
    .col-sm-12 {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 471px) {
    .main__snack-text::after {
        content: "";
        position: absolute;
        display: block;
        height: 1px;
        width: 50px;
        background: #757575;
        left: 50%;
        transform: translateX(-50%);
        bottom: -12px;
    }
    .col-sm-12 {
        margin-bottom: 16px;
    }
    /* SNACK */
    .snack__card {
        border: none;
        border-bottom: 1px solid rgba(117, 117, 117, 0.2);
    }
    .snack__info {
        padding: 0;
        padding-bottom: 15px;
        padding-right: 10px;
    }
    .snack__name {
        font-size: 14px;
    }
    .snack__recipe {
        font-size: 13px;
    }
    .snack__image {
        width: 102px;
        height: 102px;
    }
}


/* Footer */

@media screen and (max-width: 645px) {
    .store_picture {
        margin-right: 24px;
    }
    .store_picture:last-child {
        margin-right: 0;
    }

    .footer__uberEats-p {
        font-size: 20px;
        margin-top: 80px;
    }

    .select_country {
      position: absolute;
      top: 19%;
    }

    .socialNetwork {
      margin-top: 20px;
    }

    .socialNetwork-item {
      font-size: 25px;
      transform: scale(1.2);
    }

    .language {
      position: absolute;
      top: 18%;
    }

    .footer {
        padding-top: 56px;
        padding-bottom: 40px;
    }
    .footer__layout--left {
        margin-bottom: 40px;
    }
    .footer_logo_img {
        width: 300px;
    }
    .footer__wrapper {
        flex-flow: column;
    }

    .store_picture {
      margin-right: 70px;
      transform: scale(1.3);
    }

    .linkList__center,
    .linkList__right {
        margin-bottom: 23px;
    }
    .linkList__right:last-of-type {
        margin-bottom: 0;
    }
    .footer-copyright__item {
        font-size: 16px;
        margin-bottom: 24px;
    }
    .footer-copyright__item:last-of-type {
        margin-bottom: 0;
    }
    .footer-copyright {
        flex-flow: column;
    }
    .square {
        top: 90%;
        right: 0%;
    }
    .primaryTextLink {
        font-size: 18px;
    }
}
