body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

header {
    width: 1024px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.page-header {
    display: inline-flex;
    align-items: center;
}

.header-logo {
    margin-right: 124px;
}

.btn_Asap {
    margin-right: 9px;
}

.paragraph_to {
    margin-right: 9px;
}

.schedule {
    margin-right: 164px;
}

.sign_in {
    margin-right: 16px;
}

.register {
    margin-right: 27px;
}

.basket {
    margin-right: 0px;
}

.search {
    margin-top: 65px;
    display: inline-flex;
    align-items: center;
    padding-bottom: 17px;
    border-bottom: 1px solid #757575;
    width: 100%;
}

.page-header .search-section {
    display: inline-flex;
    justify-content: flex-start;
    align-items: baseline;
    border: none;
    border-bottom: 2px solid rgba(117, 117, 117, 0.3);
    width: 100%;
    margin-top: 30px;
    width: 100%;
}

.search-section .lupa {
    text-decoration: none;
}

.input_search {
    border: none;
    opacity: 50%;
    width: 223px;
}

.header-logo {
    display: inline-flex;
}

.btb_asap {
    border: 1px solid #e0e0e0;
    width: 65px;
    height: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
}

.paragraph_to {
    width: 14px;
    height: 19px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 16px;
    color: #626262;
}

main {
    width: 1024px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.cards-item {
    max-width: 1024px;
}

h2 {
    font-weight: lighter;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.col-1 {
    flex-basis: 8.3333%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}

.col-3 {
    flex-basis: 24.9999%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}

.col-4 {
    flex-basis: 33.33333%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}

.card {
    text-align: left;
    margin-bottom: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 256px;
    padding-bottom: 150px;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    font-size: 13px;
    width: 100%;
}

footer {
    height: 552px;
    background: #262626;
    padding-left: 120px;
}

.wrapper {
    display: flex;
    max-width: 1024px;
    height: 220px;
    margin-left: -8px;
    margin-right: -8px;
}

.layout__top {
    display: inline-block;
    width: 100%;
    padding-top: 56px;
    padding-bottom: 40px;
    border-bottom: 1px solid #FFFFFF;
}

.linkList__center {
    list-style: none;
}

.linkList__right {
    list-style: none;
}

.linkList__center li {
    margin-bottom: 23px;
}

.linkList__center li:nth-child(1) {
    margin-top: 39px;
}

.linkList__center a {
    box-sizing: border-box;
    text-decoration: none;
    font-size: 13px;
    line-height: 15px;
    text-align: left;
    color: white;
}

.linkList__right li {
    margin-bottom: 23px;
}

.linkList__right li:nth-child(1) {
    margin-top: 80px;
    display: inline-block;
    width: 73px;
}

.linkList__right li .linkList__right a {
    text-decoration: none;
    display: inline;
    font-size: 13px;
    line-height: 15px;
    text-align: left;
    color: white;
}

footer {
    height: 552px;
    background: #262626;
    padding-left: 120px;
}

.wrapper {
    display: flex;
    height: 220px;
    margin-left: -8px;
    margin-right: -8px;
}

.layout__top {
    display: inline-block;
    width: 100%;
    padding-top: 56px;
    padding-bottom: 40px;
    border-bottom: 1px solid #FFFFFF;
}

.layout__left {
    margin-top: 32px;
}

.layout__left a {
    text-decoration: none;
}

.linkList__center {
    list-style: none;
}

.layout__center {
    margin-right: 154px;
}

.linkList__right {
    list-style: none;
    display: inline-block;
}

.linkList__center a {
    box-sizing: border-box;
    text-decoration: none;
    font-size: 13px;
    line-height: 15px;
    text-align: left;
    color: white;
}

.linkList__right a {
    text-decoration: none;
    display: inline;
    font-size: 13px;
    line-height: 15px;
    text-align: left;
    color: white;
}

footer {
    height: 700px;
    background: #262626;
    padding-left: 120px;
}

.wrapper {
    display: flex;
    align-items: center;
    height: 220px;
    margin-left: -8px;
    margin-right: -8px;
    border-bottom: 1px solid white;
    padding-bottom: 48px;
}

.layout__top {
    display: inline-block;
    width: 100%;
    padding-top: 56px;
    padding-bottom: 40px;
    max-width: 1024px;
    border-bottom: 1px solid #FFFFFF;
}

.linkList__center {
    list-style: none;
}

.language {
    display: flex;
    align-items: center;
    align-content: center;
    width: 227px;
    height: 40px;
    margin-bottom: 33px;
}

.language .world {
    margin-left: 24px;
    margin-right: 17px;
}

.language .arrow {
    margin-left: 85px;
}

.socialNetwork {
    margin-top: 22px;
}

.layout__bottom {
    width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-bottom: 1px solid white;
}

.layout__bottom a:first-child {
    margin-right: 41px;
}

.footer-copyright {
    display: inline-flex;
    color: white;
    margin-top: 40px;
    position: relative;
}

svg {
    position: absolute;
    top: -50px;
    left: 1000px;
}