body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

header {
    width: 1024px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.page-header {
    display: inline-flex;
    align-items: center;
}

.header-logo {
    margin-right: 124px;
}

.btn_Asap {
    margin-right: 9px;
}

.paragraph_to {
    margin-right: 9px;
}

.schedule {
    margin-right: 164px;
}

.sign_in {
    margin-right: 16px;
}

.register {
    margin-right: 27px;
}

.basket {
    margin-right: 0px;
}

.search {
    margin-top: 65px;
    display: inline-flex;
    align-items: center;
    padding-bottom: 17px;
    border-bottom: 1px solid #757575;
    width: 100%;
}

.page-header .search-section {
    display: inline-flex;
    justify-content: flex-start;
    align-items: baseline;
    border: none;
    border-bottom: 2px solid rgba(117, 117, 117, 0.3);
    width: 100%;
    margin-top: 30px;
    width: 100%;
}

.search-section .lupa {
    text-decoration: none;
}

.input_search {
    border: none;
    opacity: 50%;
    width: 223px;
}

.header-logo {
    display: inline-flex;
}

.btb_asap {
    border: 1px solid #e0e0e0;
    width: 65px;
    height: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
}

.paragraph_to {
    width: 14px;
    height: 19px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 16px;
    color: #626262;
}

main {
    width: 1024px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.cards-item {
    max-width: 1024px;
}

h2 {
    font-weight: lighter;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.col-4 {
    flex-basis: 33.33333%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}

.card {
    background: #757575;
    text-align: left;
    margin-bottom: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 256px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    font-size: 13px;
}

footer {
    height: 552px;
    background: #262626;
    box-sizing: border-box;
    padding-left: 120px;
}

.wrapper {
    max-width: 1024px;
    position: relative;
}

.dropdown {
    display: absolute;
    display: none;
    box-sizing: border-box;
    z-index: 6;
}

.layout__top {
    display: inline-block;
    width: 100%;
    padding-top: 56px;
    padding-bottom: 40px;
    border-bottom: 1px solid #FFFFFF;
}

.linkList__center {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout__bottom {
    display: flex;
    justify-content: center;
}